.recipify-header-wrap {
  position: relative;
  z-index: 1;
}

.recipify-header-wrap::before {
  content: " ";
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  opacity: 0.1;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-image: var(--recipe-bg-image);
  pointer-events: none;
  z-index: -1;
}

.demo-content {
  position: relative;
}
